.Navigation {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Navigation div {}

.logo {
    width: 8rem;
    height: 4rem;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
}

.logo img {
    width: 100%;
    height: 100%;
}

.links {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links a {
    text-decoration: none;
}